language: R
sudo: true
cache: packages

apt_packages:
  - libudunits2-dev

r_github_packages:
  - tidyverse/ggplot2
  - thomasp85/ggraph
  - mailund/matchbox

r_bitbucket_packages:
  - coolbutuseless/minilexer

r:
  - 3.2
  - 3.3
  - 3.4
  - oldrel
  - release
# - devel

after_success:
  - Rscript -e 'covr::codecov()'
  - Rscript -e 'covr::coveralls()'
